@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap");
body {
  width: 375px;
  height: 1789px;
  margin: 0 auto;
  padding: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 63px;
  background: #FFFFFF;
}

.iconreturn {
  position: relative;
  left: -50px;
  top: 20px;
}

.fa-arrow-left {
  font-size: 16px;
  color: #353535;
}

.logotitle {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
}

h1 {
  position: relative;
  top: -12px;
  font-style: italic;
  width: 162px;
  height: 44px;
  font-family: "Shrikhand";
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  color: #101010;
}

.imgHeader {
  position: relative;
  width: 100%;
  height: 275px;
  overflow: hidden;
}

.imgmenu {
  position: relative;
  width: 100%;
  height: 275px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.listMenu {
  padding: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: -32px;
  width: 100%;
  height: 1300px;
  background: #F7F7F7;
  border-radius: 30px 30px 0px 0px;
  z-index: 2;
}

.rowTitle {
  position: relative;
  left: 17px;
  display: flex;
  flex-direction: row;
  width: 95%;
}

h2 {
  position: relative;
  width: 80%;
  height: 32px;
  font-family: "Shrikhand";
  color: #101010;
  font-size: 28px;
  line-height: 41px;
  font-weight: 400;
}

.hearth2 {
  position: relative;
  top: 32px;
  left: 13px;
}

.fa-heart {
  position: relative;
  font-size: 22px;
}

.fa-solid.fa-heart:before {
  position: relative;
  left: 10px;
  font-style: normal;
  color: transparent;
  transition: color 1s ease-in-out;
}

.fa-solid.fa-heart:active::before {
  color: rgb(203, 60, 242);
  cursor: pointer;
}

.fa-solid.fa-heart {
  position: relative;
  right: 36px;
}

.decotitre {
  display: flex;
  position: relative;
  background: #99E2D0;
  width: 40px;
  height: 3px;
  left: 16px;
}

.bigNaventrees {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
}

.entrées, .plats, .desserts {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 330px;
}

.bigUlentrees {
  position: relative;
  width: 88%;
  height: 320.07px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ulplats, .uldesserts, .smallUlentrees {
  width: 88%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lientrées, .liplats, .lidesserts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 339px;
  height: 45.07px;
  align-items: center;
  padding-top: 12.034px;
  background: #FFFFFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 12px 5px 12px 5px;
  list-style: none;
  left: -30px;
  overflow: hidden;
}

.lientrées {
  animation: lancement 1s ease-in-out forwards;
}

.liplats {
  animation: lancement 1.5s ease-in-out forwards;
}

.lidesserts {
  animation: lancement 2s ease-in-out forwards;
}

@keyframes lancement {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.boxcheck {
  position: relative;
  top: -47px;
  left: 62px;
  width: 59px;
  height: 71px;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  animation: box 1s ease-in-out;
}

.fa-solid.fa-circle-check {
  position: relative;
  left: 17px;
  top: 25px;
  color: #FFFFFF;
  font-size: 20px;
  animation: spin 1s ease-in-out;
}

.lientrées:active, .liplats:active, .lidesserts:active {
  /*.fa-solid.fa-circle-check {
      animation: spin 0.8s ease-in-out;
  }*/
}
.lientrées:active .boxcheck, .liplats:active .boxcheck, .lidesserts:active .boxcheck {
  left: 5px;
}
.lientrées:active .tarif, .liplats:active .tarif, .lidesserts:active .tarif {
  left: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.titreentrées, .titreplats, .titredesserts {
  position: relative;
  left: 15px;
  top: 15px;
  font-family: "Roboto";
  text-transform: uppercase;
  width: 275px;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  color: #000000;
}

.h4desserts, .h4plats, .h4entrées {
  width: 98%;
  position: relative;
  top: -25px;
  left: 5px;
  font-family: "Roboto";
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.rowtarif {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  top: -35px;
}

p {
  width: 80%;
  position: relative;
  top: -20px;
  left: 9px;
  font-family: "Roboto";
  color: #353535;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}

.tarif {
  width: 35px;
  font-family: "Roboto";
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #101010;
  position: relative;
  left: 40px;
  top: -5px;
}

.btncommand {
  display: flex;
  height: 50px;
  width: 186px;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  position: relative;
  left: 92px;
  top: -18px;
  bottom: 20px;
  padding: 13px 48px 13px 48px;
  border: none;
}

.btncommand:active {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  filter: brightness(1.1);
  box-shadow: 2px 6px 15px rgba(0, 0, 2, 0.45);
}

footer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -32px;
  padding-bottom: 20px;
  width: 100%;
  color: #FFFFFF;
  background: #353535;
}

.logofooter {
  width: 70%;
  height: 27px;
  position: relative;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  top: 10px;
  left: 25px;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 10px;
  padding-bottom: 20px;
  width: 80%;
}

.lienFooter {
  text-decoration: none;
  color: #FFFFFF;
  height: 20px;
}

.iconutensils {
  font-size: 16px;
}

.iconhandshake {
  transform: rotate(135deg);
  font-size: 13px;
}

.rowfooter {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 19px;
  font-size: 16px;
  left: 25px;
}

.txtoficon {
  position: relative;
  top: -35px;
  left: 10.08px;
  height: 19px;
  width: 80%;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.mention, .contact {
  height: 20px;
  width: 70%;
  position: relative;
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  left: 25px;
  top: -35px;
}

@media screen and (min-width: 769px) {
  body {
    width: 1440px;
    height: 1760px;
    margin: 0 auto;
    padding: 0 auto;
  }
  header {
    display: flex;
    flex-direction: row;
  }
  .iconreturn {
    left: -500px;
  }
  h1 {
    font-size: 37px;
    font-weight: 400;
    line-height: 53.95px;
    top: -20px;
    left: 40px;
  }
  .imgHeader {
    height: 400px;
  }
  .imgmenu {
    height: 400px;
  }
  .listMenu {
    top: -53px;
    left: 193px;
    width: 1055px;
    height: auto;
    padding-bottom: 100px;
  }
  h2 {
    text-align: center;
    width: 100%;
  }
  .hearth2 {
    left: -250px;
  }
  .fa-heart {
    font-size: 22px;
  }
  .fa-solid.fa-heart:before {
    font-style: normal;
    color: transparent;
    transition: color 1s ease-in-out;
  }
  .fa-solid.fa-heart:hover::before {
    color: rgb(203, 60, 242);
    cursor: pointer;
  }
  .fa-solid.fa-heart {
    position: relative;
    top: -23.5px;
    left: -10px;
  }
  .decotitre {
    left: 190px;
  }
  nav {
    width: 100%;
    height: auto;
  }
  .bigUlentrees {
    width: 634px;
    position: relative;
    left: 190px;
  }
  .ulplats, .uldesserts, .smallUlentrees {
    width: 634px;
    position: relative;
    left: 190px;
  }
  .lientrées, .liplats, .lidesserts {
    width: 664px;
    left: -40px;
  }
  .boxcheck {
    top: -47px;
    left: 104px;
    width: 59px;
  }
  .lientrées:hover .boxcheck, .liplats:hover .boxcheck, .lidesserts:hover .boxcheck {
    left: 44px;
  }
  .lientrées:hover .tarif, .liplats:hover .tarif, .lidesserts:hover .tarif {
    left: 20px;
  }
  .titreentrées, .titreplats, .titredesserts {
    left: 190px;
    top: 15px;
  }
  .h4desserts, .h4plats, .h4entrées {
    position: relative;
    top: -25px;
    left: 5px;
  }
  .rowtarif {
    top: -35px;
  }
  p {
    width: 80%;
    top: -20px;
    left: 9px;
  }
  .tarif {
    left: 50px;
    top: -5px;
  }
  .btncommand {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    left: 442px;
    top: 30px;
  }
  .btncommand:hover {
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    filter: brightness(1.1);
    box-shadow: 2px 6px 15px rgba(0, 0, 2, 0.45);
  }
  footer {
    flex-direction: row-reverse;
    justify-content: flex-end;
    top: -53px;
    width: 100%;
    height: 114px;
  }
  .article {
    width: 900px;
    display: flex;
    flex-direction: row;
    left: 300px;
  }
  .lienFooter {
    position: relative;
    width: 208px;
    top: 45px;
  }
  .rowfooter {
    top: 0px;
    width: 208px;
  }
  .contact {
    width: 208px;
    left: -95px;
  }
  .mention {
    width: 208px;
    left: -15px;
  }
  .txtoficon {
    width: 208px;
    top: -35px;
  }
  .logofooter {
    width: 90px;
    left: 100px;
    top: 37px;
  }
}/*# sourceMappingURL=menus.css.map */