@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap");
* {
  /* border:1px solid red;*/
}

@media screen and (max-width: 768px) {
  body {
    width: 375px;
    margin: 0px;
    height: 1517px;
  }
  header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 338px;
    top: 0px;
  }
  .iconreturn {
    position: relative;
    width: 17.2px;
    height: 16px;
    left: 19px;
    top: 21px;
  }
  .fa-arrow-left {
    font-size: 16px;
    color: #353535;
  }
  .logotitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 63px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
  h1 {
    position: relative;
    display: flex;
    flex-direction: row;
    font-style: italic;
    width: 162px;
    height: 44px;
    top: -10px;
    left: 90px;
    font-family: "Shrikhand";
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    color: #101010;
  }
  .imgHeader {
    position: relative;
    width: 100%;
    height: 275px;
    overflow: hidden;
  }
  .imgmenu {
    position: relative;
    width: 100%;
    height: 275px;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 1;
  }
  .listMenu {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -32px;
    width: 100%;
    height: 1152px;
    background: #F7F7F7;
    border-radius: 30px 30px 0px 0px;
    z-index: 2;
  }
  .rowTitle {
    position: relative;
    top: 32px;
    left: 17px;
    height: 27px;
    display: flex;
    flex-direction: row;
    width: 95%;
  }
  h2 {
    position: relative;
    top: -31px;
    width: 80%;
    height: 32px;
    font-family: "Shrikhand";
    color: #101010;
    font-size: 28px;
    line-height: 41px;
    font-weight: 400;
  }
  .hearth2 {
    position: relative;
    top: -27;
    left: 13px;
    width: 22px;
    height: 21px;
  }
  .fa-heart {
    position: relative;
    font-size: 22px;
    left: 0px;
  }
  .fa-heart:before {
    font-style: normal;
    color: #353535;
    background: white;
    transition: color 1.5s ease-in-out;
  }
  .fa-heart:hover::before {
    font-weight: bold;
    color: rgb(213, 112, 244);
    cursor: pointer;
  }
  .decotitre {
    position: relative;
    background: #99E2D0;
    width: 40px;
    height: 3px;
    left: 16px;
    top: 0px;
  }
  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 330px;
    position: relative;
    top: 41px;
  }
  ul {
    width: 88%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .lientrées, .liplats, .lidesserts {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 339px;
    height: 45.07px;
    align-items: center;
    padding-top: 12.034px;
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 12px 5px 12px 5px;
    list-style: none;
    left: -30px;
  }
  .titreentrées, .titreplats, .titredesserts {
    position: relative;
    left: 15px;
    top: 15px;
    font-family: "Roboto";
    text-transform: uppercase;
    width: 275px;
    height: 27px;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
    color: #000000;
  }
  .h4desserts, .h4plats, .h4entrées {
    width: 98%;
    height: 18px;
    position: relative;
    top: -25px;
    left: 5px;
    font-family: "Roboto";
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  .rowtarif {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15px;
    position: relative;
    top: -35px;
  }
  p {
    width: 80%;
    height: 15px;
    position: relative;
    top: -20px;
    left: 9px;
    font-family: "Roboto";
    color: #353535;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }
  .tarif {
    width: 35px;
    height: 15px;
    font-family: "Roboto";
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    color: #101010;
    position: relative;
    left: 10px;
    top: -5px;
  }
  .btncommand {
    position: relative;
    display: flex;
    height: 50px;
    width: 186px;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    top: 52px;
    left: 92px;
    padding-top: 13px;
    padding-left: 48px;
    border: none;
  }
  footer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -40px;
    width: 100%;
    height: 197px;
    color: #FFFFFF;
    background: #353535;
  }
  .logofooter {
    width: 70%;
    height: 27px;
    position: relative;
    font-family: "Shrikhand";
    font-weight: 400px;
    font-size: 18px;
    line-height: 26px;
    top: 0px;
    left: 25px;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 98px;
    top: 0px;
    left: 0px;
    width: 80%;
  }
  .iconutensils {
    font-size: 16px;
  }
  .iconhandshake {
    rotate: 135deg;
    font-size: 13px;
  }
  .rowfooter {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 19px;
    font-size: 16px;
    left: 25px;
  }
  .txtoficon {
    position: relative;
    left: 10.08px;
    height: 19px;
    width: 80%;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500px;
    line-height: 19px;
  }
  .mention, .contact {
    height: 20px;
    width: 70%;
    position: relative;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500px;
    line-height: 19px;
    left: 25px;
    top: 0px;
  }
}
@media screen and (min-width: 769px) {
  body {
    width: 1440px;
    height: 1758px;
    margin: 0px;
  }
  header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 0px;
  }
  .iconreturn {
    position: relative;
    width: 17.2px;
    height: 16px;
    left: 19px;
    top: 40px;
  }
  .fa-arrow-left {
    font-size: 16px;
    color: #353535;
  }
  .logotitle {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 96px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
  h1 {
    position: relative;
    display: flex;
    flex-direction: row;
    font-style: italic;
    width: 200px;
    height: 54px;
    top: -5px;
    left: 620px;
    font-family: "Shrikhand";
    font-size: 37px;
    font-weight: 400;
    line-height: 53.95px;
    color: #101010;
  }
  .imgHeader {
    position: relative;
    width: 1440px;
    height: 400px;
    overflow: hidden;
  }
  .imgmenu {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 1;
  }
  .listMenu {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -73px;
    left: 193px;
    width: 1055px;
    height: 1221px;
    background: #F7F7F7;
    border-radius: 30px 30px 0px 0px;
    z-index: 2;
  }
  .rowTitle {
    position: relative;
    top: 32px;
    left: 373.5px;
    height: 27px;
    display: flex;
    flex-direction: row;
    width: 35%;
  }
  h2 {
    position: relative;
    top: -31px;
    width: 261px;
    height: 41px;
    font-family: "Shrikhand";
    color: #101010;
    font-size: 28px;
    line-height: 41px;
    font-weight: 400;
  }
  .hearth2 {
    position: relative;
    top: -27;
    width: 22px;
    height: 21px;
  }
  .fa-heart {
    position: relative;
    font-size: 22px;
    left: 24px;
  }
  .fa-heart:before {
    font-style: normal;
    color: #353535;
    background: white;
    transition: color 1.5s ease-in-out;
  }
  .fa-heart:hover::before {
    font-weight: bold;
    color: rgb(213, 112, 244);
    cursor: pointer;
  }
  .decotitre {
    position: relative;
    background: #99E2D0;
    width: 40px;
    height: 3px;
    left: 190px;
    top: 0px;
  }
  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 330px;
    position: relative;
    top: 41px;
  }
  ul {
    width: 634px;
    height: 300px;
    position: relative;
    left: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .lientrées, .liplats, .lidesserts {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 664px;
    height: 45.07px;
    align-items: center;
    padding-top: 12.034px;
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 12px 5px 12px 5px;
    list-style: none;
    left: -40px;
  }
  .titreentrées, .titreplats, .titredesserts {
    position: relative;
    left: 190px;
    top: 15px;
    font-family: "Roboto";
    text-transform: uppercase;
    width: 275px;
    height: 27px;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
    color: #000000;
  }
  .h4desserts, .h4plats, .h4entrées {
    width: 98%;
    height: 18px;
    position: relative;
    top: -25px;
    left: 5px;
    font-family: "Roboto";
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  .rowtarif {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15px;
    position: relative;
    top: -35px;
  }
  p {
    width: 80%;
    height: 15px;
    position: relative;
    top: -20px;
    left: 9px;
    font-family: "Roboto";
    color: #353535;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.8px;
  }
  .tarif {
    width: 35px;
    height: 15px;
    font-family: "Roboto";
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    color: #101010;
    position: relative;
    left: 70px;
    top: -5px;
  }
  .btncommand {
    position: relative;
    display: flex;
    height: 50px;
    width: 186px;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    top: 85px;
    left: 442px;
    padding-top: 13px;
    padding-left: 48px;
    border: none;
  }
  footer {
    position: relative;
    top: -73px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 114px;
    background: #353535;
    overflow: hidden;
  }
  article {
    height: 20px;
    width: 1100px;
    height: 114px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 511px;
  }
  .rowfooter {
    height: 18px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 49px;
  }
  .contact, .mention, .txtoficon {
    position: relative;
    height: 19px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  .contact {
    width: 56px;
    top: 49px;
    left: 10px;
  }
  .mention {
    width: 122px;
    top: 49px;
    left: -35px;
  }
  .txtoficon {
    width: 208px;
  }
  .logofooter {
    height: 27px;
    width: 137.58px;
    position: relative;
    left: 105px;
    top: 29px;
    color: #FFFFFF;
    font-family: "Shrikhand";
    font-size: 18px;
    font-weight: 400;
    line-height: 26.24px;
  }
  .iconhandshake, .iconutensils {
    width: 11px;
    height: 13px;
    font-size: 13px;
    color: #FFFFFF;
    position: relative;
    right: 11px;
  }
}/*# sourceMappingURL=menus.css.map */